<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Adlumen</title>
    @Styles.Render("~/Content/css")
   
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet" />*@
</head>
<body class="skin-blue" ng-app="adlumenApp">

    <div class="wrapper" ui-view></div>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>*@

    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jvectormap")
    @Scripts.Render("~/bundles/angularjs")
    @*@Scripts.Render("~/bundles/raphael")*@
    @Scripts.Render("~/bundles/gantt-chart")
    @Scripts.Render("~/bundles/angular-calendar")
    @Scripts.Render("~/bundles/nvd3")
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&language=en-US&key=AIzaSyBxRu85_s3KiXseZG7lAQfQ2Vr6NAFPPhs"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>*@

    <script type='text/javascript' src="~/Scripts/angular-simple-logger.js"></script>
    <script type='text/javascript' src="~/Scripts/angular-gauge.js"></script>
    <script type='text/javascript' src="~/Scripts/angular-sanitize.min.js"></script>
    <script type='text/javascript' src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type='text/javascript' src="~/Scripts/tinymce/plugins/tinymce.min.js"></script>
    <script type='text/javascript' src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
</body>
</html>
